config ZMK_BLE
    default y

config ZMK_USB
    default y

if SHIELD_DILLY_LEFT

config ZMK_KEYBOARD_NAME
	default "Dilly"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DILLY_LEFT || SHIELD_DILLY_RIGHT

config ZMK_SPLIT
    default y

endif
