config ZMK_BLE
    default y

config ZMK_USB
    default y

if SHIELD_ICARUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Icarus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ICARUS_LEFT || SHIELD_ICARUS_RIGHT

config ZMK_SPLIT
    default y

endif
